<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1>code noob</h1>
    </div>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/dashboard" class="navbar-item">
        <i data-feather="home"></i>
      </a>
    </div>
    <div id="navbar-searchbar" class="searchbar">

    </div>
    <div class="navbar-end">
      <a href="/user" class="navbar-item" href="">
        <i data-feather="user"></i>
      </a>
    </div>
  </div>
</nav>