  {{>login}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1>code noob</h1>
    </div>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/dashboard" class="navbar-item">
        <i data-feather="home"></i>
      </a>
    </div>
    <div id="navbar-searchbar" class="searchbar">
    </div>
    {{#if logged_in}}
    <li class="navbar-end">
      {{!-- if logged in logout if not login a --}}
      <button id="logoutBtn" class="navbar-item">Logout</button>
    </li>
    <script src="/js/logout.js"></script>
    {{/if}}
    {{#unless logged_in}}
    <li class="navbar-end">
      {{!-- if logged in logout if not login a --}}
      <button id="loginBtn" class="inBtn" class="navbar-item">Login</button>
    </li>
    <script src="/js/login.js"></script>
    {{/unless}}
    {{#if logged_in}}
    <div class="navbar-end">
      <a href="/user" class="navbar-item">
        <i data-feather="user"></i>
      </a>
    </div>
    {{/if}}
  </div>
</nav>