{{>login}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1>code noob</h1>
    </div>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/dashboard" class="navbar-item">
        <i data-feather="home"></i>
      </a>
      <a href="/recources" class="navbar-item"><i data-feather="book-open"></i></a>
    </div>
    <div id="navbar-searchbar" class="searchbar">
    </div>

    <div class="navbar-end">
      <div class="navbar-item ">
        <a class="navbar-link"><i data-feather="menu"></i></a>
        <div class="navbar-dropdown">
          {{#if logged_in}}
          <button id="logoutBtn" class="navbar-item"><i data-feather="log-out"></i></button>
          <script src="/js/logout.js"></script>
          {{/if}}
          {{!-- if logged in logout if not login a --}}
          {{#unless logged_in}}
          <button id="loginBtn" class="inBtn" class="navbar-item"><i data-feather="log-in"></button>
          <script src="/js/login.js"></script>
          {{/unless}}
        </div>
        
      </div>
    </div>
    {{!-- if logged in logout if not login a --}}
  </div>
</nav>