<div class="columns is-mobile">
    <div class="column is-half">
        <div id="postCard">
            {{#each posts as |post|}}
            <h2>{{post.title}}</h2>
            <p>{{user.first_name}}</p>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>