<section class="post">
    <div class="comments"></div>
    <div class="postPage box">{{post.title}}</div>
    <div class="postContent box">
        {{post.post}}
    </div>
    {{#each post.Comments as |comment|}}
    <div class="commentPage box">I am a comment by someone else</div>
    <div class="commentPage box">I am a comment by someone else</div>
    <div class="commentOwner box"> I am a comment by the owner of the post</div>
    {{/each}}
    <div class="form-group">
        <input id="addComment" class="input column is-two-thirds is-offset-2" type="text"
            placeholder="Add a new comment">
        <button type="button" class="postCommentBtn btn-primary" data-id={{post.id}}>Create</button>
    </div>
</section>
<script src="/js/comment.js"></script>