<div class="header">Code Noob</div>
<form class=" search">
    <div class=" search-bar">
        <label for="search">Search</label>
        <input class="search-input" type="text" id="search-input" />
    </div>

    <div class="box post">
        i am a box
    </div>
    <div class="commentsElse box">
        i will be the comments
    </div>
    <div class="commentsElse box">
        i will be the comments
    </div>
    <div class="commentsOwner box">
        i will be the poster's comments
    </div>