{{> login}}
{{> signup}}

<div class="columns is-mobile">
    <div class="column is-full centerScreen">
        <div id="landTitle">
            <h1>code noob</h1>
            <input id="landingSearch" class="input column is-two-thirds is-offset-2" type="text"
                placeholder="enter search by keywords...">
        </div>
        <div id="landBenefits">
            <ul>
                <li>- community</li>
                <li>- news and resources</li>
                <li>- share and grow as a developer</li>
            </ul>
        </div>
        <div id="landCallToAct">
            <h2>find your answers</h2>
            <h3>there are no stupid questions anymore</h3>
        </div>
        <div id="landingButtonCon" class="column is-two-thirds is-offset-2">
            <button type="button" id="loginButt">login</button>
            <button type="button" id="signButt">sign up</button>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>