 {{> login}}
 {{> signup}}

<div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth"><input class="input" type="text" placeholder="answers await...">
        <h2>CODE NOOB</h2>
        <p>find your answers</p>
        <p>there are no stupid questions anymore</p>
        <button type="button" id="loginButt">Login</button>
        <button type="button" id="signButt">Sign Up</button>
    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>