{{> login}}
{{> signup}}

<div id="hero-container" class="container is-fluid">
    <h2>CODE NOOB</h2>
    <p>find your answers</p>
    <p>there are no stupid questions anymore</p>
    <button type="button" id="loginButt">Login</button>
    <button type="button" id="signButt">Sign Up</button>
</div>

<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>

