{{>nav}}
<div class="columns is-mobile resources">
    <div class="column is-10 is-offset-1">
        <div id="dashboardCon">
            <div class="noobBox">
                <div class="resourcesBox">
                    <h1>Extra Resources!</h1>
                    <h2>Look, we'll be the first to admit - there are plenty of places to find that extra help! Have a look below at the resources we have found useful, on our journey to date.</h2>
                </div>
                <div class="resourceCard">
                    <a href="https://www.w3schools.com/">
                        <h2 class="postLink">w3schools</h2>
                    </a>
                    <p>A great place to start, W3Schools is an educational website for learning coding online. Content
                        includes
                        tutorials and references relating to HTML, CSS, JavaScript, JSON, PHP, Python, AngularJS,
                        React.js, SQL,
                        Bootstrap, Sass, Node.js, jQuery, XQuery, AJAX, XML, Active Server Pages, R, Raspberry Pi, C++,
                        C# and Java.</p>
                </div>
                <div class="resourceCard">
                    <a href="https://www.w3schools.com/">
                        <img class= "card-image"src="https://mk0whatsthehostlkyuw.kinstacdn.com/wp-content/uploads/2019/02/Screen-Shot-2019-02-08-at-4.05.30-PM-1024x520.png"
                            alt="image of w3 schools"></a>
                </div>
                <div class="resourceCard">
                    <a href="https://stackoverflow.com/">
                        <h2 class="postLink">Stack Overflow</h2>
                    </a>
                    <p>Stack Overflow is a question and answer site for professional and enthusiast programmers. It is a
                        privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff
                        Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer
                        programming</p>
                </div>
                <div class="resourceCard">
                    <a href="https://stackoverflow.com/">
                        <img class= "card-image"src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Stack_Overflow_Home.png"
                            alt="image of stack overflow"></a>
                </div>
                <div class="resourceCard">
                    <a href="https://www.codecademy.com/">
                        <h2 class="postLink">Code Academy</h2>
                    </a>
                    <p>Codecademy is an American online interactive platform that offers free coding classes in 12
                        different programming languages including Python, Java, Go, JavaScript, Ruby, SQL, C++, C#,
                        Swift, and Sass, as well as markup languages HTML and CSS.</p>
                </div>
                <div class="resourceCard">
                    <a href="https://www.codecademy.com/">
                        <img class= "card-image"src="https://www.commonsense.org/education/sites/default/files/experience-media-file/codecademy-website-screenshot-0.png?width=660&height=415&iframe=1&slide=0&scalePhotos=1"
                            alt="image of codeacademy"></a>
                </div>

                <div class="resourceCard">
                    <a href="https://www.youtube.com/channel/UCVTlvUkGslCV_h-nSAId8Sw">
                        <h2 class="postLink">LearnCode.academy</h2>
                    </a>
                    <p>Will Stern’s clear and simple tutorials are focused on programming as it relates to web
                        development. At Learncode.academy, you will be walked through topics like JavaScript and jQuery
                        in Stern’s efficient and thorough style. The channel’s trailer is one of Stern’s more popular
                        videos and provides web development career advice. This helpful video outlines the paths that
                        you can take on your way to becoming a web developer along with the order in which you should
                        learn things. LearnCode.academy has 95 videos and over 135,000 subscribers.</p>
                </div>
                <div class="resourceCard">
                    <a href="https://www.youtube.com/channel/UCVTlvUkGslCV_h-nSAId8Sw">
                        <img class= "card-image"src="https://pinoytopichome.files.wordpress.com/2019/04/37c71-learncodeacad.png"
                            alt="image of youtube channel"></a>
                </div>
                <div class="resourceCard">
                    <a href="https://css-tricks.com/">
                        <h2 class="postLink">CSS-Tricks</h2>
                    </a>
                    <p>These days CSS-Tricks is really about building websites and all that entails, mostly from a
                        front-end perspective. They have staff writers and loads of guest authors, so the content you
                        find here will be as diverse as they are.</p>
                </div>
                <div class="resourceCard">
                    <a href="https://css-tricks.com/">
                        <img class= "card-image"src="https://i0.wp.com/css-tricks.com/wp-content/uploads/2019/01/mixup.png?ssl=1"
                            alt="image of css tricks"></a>
                </div>